<header>
  <a class="site-logo" href="/">
    Mood Tracker
  </a>

  <div class="topnav">
    <a href="/mood-app"> Home </a>
    <a href="/about"> About </a>
    <a href="/pomodoro-timer"> Timer </a>
  </div>

  {{#if isLoggedIn}}
    <a href="/api/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
