{{> header}}
<main>
  <h1> Why a Mood Tracker App? </h1>
  <div>
    <p>
        Sometimes, it's important to understand reasons behind your own feelings. Understanding your feelings will give your
        a better understanding of yourself. 
    </p>

  </div>
 
   <div>
    <p>
        Many individuals with ADHD can experience depression, and many people think that it is its own mental illness. However,
    depression is often as symptom of undiagnosed ADHD. If you are like me, you can feel so many things all at once and it can be
    overwhelming, especially on days when you need to be productive. There are days when you wake up and you just feel a certain
    so strong without knowing the reason why. I think those are the days that we should check in with ourselves. 
    By tracking our moods and doing a quick reflection on ourselves, we can find our trigger factors, work on how to manage those 
    feelings, and better a better and more rational version of ourselves every day.
    </p>

  </div>

    <div>
    <p>
        To assist with the attention span, productivity, and hyperfocus of ADHD, I also have a Pomodoro Timer set up. With this timer,
    you would ideally do work for 25 minutes each round. After each round, you would take a 5 minute break, and after the 4th round,
    you would take a well-deserved 30-minute break. Why do we need this? Because you know that you can get so hyperfocus and 
    engaged with something that you will not only forget to move around, but you will forget to eat, drink, and go to the bathroom.
    Ultimately, you feel sick after about 10-12 hours, and then you wonder why you feel the way you do. Sounds familiar? I know how 
    that feels, so I am preventing you from doing that repeatedly.

    I hope this app will be useful, not only for those with ADHD, but really anyone who needs it ultimately.
    </p>

  </div>
    

   

   

    




</main>