{{> header}}
<main>
  
<h1> Made a mistake? Go ahead and edit it, you perfectionist.</h1>

  <form method="POST" action="/update-entry/{{formEdit._id}}">

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="{{formEdit.date}}">
    <br>
    <label for="mood">Mood:</label>
    <input type="text" id="mood" name="mood" value="{{formEdit.mood}}">
    <br>
    <label for="description">Description:</label>
    <textarea id="description" name="description">{{formEdit.description}}</textarea>
    <br>
    <input type="submit" value="Update Entry">

</main>