{{> header}}

<main>

  <h1> {{editedPost.date}} </h1>
  <h2> {{editedPost.mood}} </h2>
  <p> {{editedPost.description}}</p>

  <button>
    <a href="/all-entries"> View all entries </a>
  </button>
  

</main>