{{> header}}
<main>
 <h1> Welcome to your personalized mood tracker! </h1>

<h2> {{singleQuote}}</h2>

 <button>
  <a href="/all-entries"> View all entries </a> 
 </button>

 <button>
  <a href="/new-entry-form"> Add new entry </a> 
 </button>

  <button>
   <a href="/edit-entry/{{userid}}"> Edit an entry </a> 
 </button>
</main>