<header>
  <a class="site-logo" href="/">
    Mood Tracker
  </a>

  <div class="topnav">
    <a class="active" href="#homepage"> Home </a>
    <a href="#about"> About </a>
    <a href="#timer"> Timer </a>
  </div>

  {{#if isLoggedIn}}
    <a href="/api/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
